[Unit]
Description=Prometheus instance
Documentation=https://prometheus.io/docs/introduction/overview
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ user }}
Group={{ group }}
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/prometheus {{ options }}

[Install]
WantedBy=multi-user.target