#jinja2:lstrip_blocks: True
global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'kafka'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['kafka'] %}
        - '{{ host }}:8080'
{% endfor %}
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['node_exporter'] %}
        - '{{ host }}:9100'
{% endfor %}
  - job_name: 'app'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['app'] %}
{% for port in hostvars[groups['app'][0]]['scrape_ports'] %}
        - '{{ host }}:{{ port }}'
{% endfor %}
{% endfor %}