[Unit]
Description=Zookeeper
Documentation=https://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory={{ zk_dir }}
PIDFile={{ zk_data_dir }}/zookeeper_server.pid
SyslogIdentifier=zookeeper
User={{ zk.user }}
Group={{ zk.group }}
ExecStart={{ zk_dir }}/bin/zkServer.sh start
ExecStop={{ zk_dir }}/bin/zkServer.sh stop
ExecReload={{ zk_dir }}/bin/zkServer.sh restart
Restart=always
RestartSec=30
StartLimitInterval=120
StartLimitBurst=5

[Install]
WantedBy=multi-user.target