[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ user }}
Group={{ group }}
Restart=on-failure
RestartSec=10
ExecStart=/usr/local/bin/node_exporter {{ options }}

[Install]
WantedBy=multi-user.target