[Unit]
Description=Kafka
Documentation=https://kafka.apache.org
Requires=network.target
After=network.target

[Service]
Type=simple
SyslogIdentifier=kafka
User={{ kafka.user }}
Group={{ kafka.group }}
Environment="KAFKA_OPTS=-javaagent:{{ jmx_location }}={{ jmx.port }}:{{ jmx_config_location }}"
ExecStart={{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/real-server.properties
ExecStop={{ kafka_dir }}/bin/kafka-server-stop.sh
Restart=always
RestartSec=15
StartLimitInterval=120
StartLimitBurst=5

[Install]
WantedBy=multi-user.target